* {
  border-radius: 0;
  border: none;
  font-family: sans-serif, "Font Awesome 6 Free";
  box-shadow: none;
}

window#waybar {
  background: rgba(0, 0, 0, 0.6);
}

window#waybar > * {
  margin: 0 10px;
}

#workspaces button {
  background: none;
  color: #888888;
  padding: 3px 7px;
  font-weight: 600;
  transition: none;
}

#workspaces button:hover {
  color: #ffffff;
  box-shadow: none;
}

#workspaces button.focused {
  border-bottom: 1px solid white;
  font-weight: 900;
  color: #ffffff;
}

.modules-right > widget > * {
  padding: 0 10px;
  margin: 0;
  color: #888888;
  background: none;
}

#battery.warning {
  color: orange;
}

#battery.critical {
  color: red;
}
